@import '../../styles/variables.scss';

.articles {
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;

    .show-more-button {
      margin-top: 65px;
    }

    .article-image {
      height: 212px;
      width: 370px;
    }
  }
}
