@import './variables.scss';

:root {
  --primary-color: #{$primary-color};
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
