$primary-color: #493be1;
$font-family: 'Arial', sans-serif;

$white: #fff;
$black: #000;
$light-grey: #606060;
$dark-slate: #465252;

$transition: all 0.5s ease 0s;

$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-24: 24px;
